<form
  class="p-10 border rounded shadow-lg hover:shadow-xl bg-white"
  [formGroup]="addForm"
  (ngSubmit)="submit()"
>
  <h2 *ngIf="!isEdit">Edit Job</h2>
  <h2 *ngIf="isEdit">Add Job</h2>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field class="mt-5">
        <mat-label>Position</mat-label>
        <input matInput class="w-full" formControlName="position" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput class="w-full" formControlName="company" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput class="w-full" formControlName="location" />

        <mat-select class="w-full" formControlName="type">
          <mat-option value="{{ item }}" *ngFor="let item of type">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>

        <mat-select class="w-full" formControlName="status">
          <mat-option value="{{ item }}" *ngFor="let item of status">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Job Type</mat-label>

        <mat-select class="w-full" formControlName="type">
          <mat-option value="{{ item }}" *ngFor="let item of type">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-button
        class="w-48 bg-gray-300 text-white"
        (click)="clearFilter()"
      >
        Clear
      </button>
      <button mat-button type="submit" class="w-48 bg-sky-500 text-white">
        Submit
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
