<nav class="navbar">
  <img src="../../../assets/logo.svg" alt="logo" />
</nav>
<main class="container mx-auto grid">
  <div class="info">
    <h1 class="text-6xl mb-8">
      Job <span class="text-sky-400 text-6xl">Tracking</span> App
    </h1>
    <p class="text-slate-400 leading-7">
      Crucifix narwhal street art asymmetrical, humblebrag tote bag pop-up fixie
      raclette taxidermy craft beer. Brunch bitters synth, VHS crucifix heirloom
      meggings bicycle rights.
    </p>
    <button
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mt-4"
      (click)="handleClickLogin()"
    >
      Login/ Register
    </button>
  </div>
  <img src="../../../assets/main.svg" alt="introduce" />
</main>
